__pycache__/
*.py[cod]

.venv/
env/
venv/

.DS_Store
.idea/
.vscode/

*.pt
*.pth
*.onnx
*.ckpt
*.bin
checkpoints/
outputs/
runs/
logs/
wandb/
data/
datasets/
weights/
GroundingDINO/
*.tmp
*.log
*.zip
*.tar
*.gz
*.npz
*.pkl

torchelastic_5yk74r6c/
annote.log
cv2
num_init_cond_frames
**/package-lock.json
package.json

run.txt
train.log
groundingdino_swinb_cogcoor.pth
.goutputstream-9XD2E3


cat > data/.gitignore << 'EOF'
*
!.gitignore
!**/.gitkeep
EOF

cat > storage/.gitignore << 'EOF'
*
!.gitignore
!**/.gitkeep
EOF
